services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer-ce
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
      - portainer_secrets:/run/secrets:ro
    command: ["--admin-password-file", "/run/secrets/portainer_admin", "--trusted-origins", "portainer.devops.192.168.51.30.sslip.io"]
    networks:
      - infrastructure
      - k3d-shared

networks:
  infrastructure:
    name: infrastructure
  k3d-shared:
    name: k3d-shared
    external: true

volumes:
  portainer_data:
  portainer_secrets:
    external: true
