services:
  portainer:
    image: portainer/portainer-ce:${PORTAINER_VERSION:-2.33.2-alpine}
    container_name: portainer-ce
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
      - portainer_secrets:/run/secrets:ro
    command: ["--admin-password-file", "/run/secrets/portainer_admin", "--trusted-origins", "portainer.devops.192.168.51.30.sslip.io"]
    networks:
      - infrastructure

  haproxy:
    image: haproxy:${HAPROXY_VERSION:-3.2.6-alpine3.22}
    container_name: haproxy-gw
    restart: unless-stopped
    ports:
      - "${HAPROXY_HTTP_PORT:-80}:80"
      - "${HAPROXY_HTTPS_PORT:-443}:443"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./ssl:/usr/local/etc/haproxy/certs:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      infrastructure:
      k3d-shared:
        ipv4_address: ${HAPROXY_FIXED_IP:-10.100.255.100}

networks:
  infrastructure:
    name: infrastructure
  k3d-shared:
    external: true
    name: k3d-shared

volumes:
  portainer_data:
  portainer_secrets:
    external: true
  haproxy_certs:
