apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: whoami
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - list:
      elements:
      # 自动从数据库读取（通过 scripts/sync_applicationset.sh）
      # 数据流：Database (clusters表) → Git Branch → ArgoCD Application
      - env: dev
        hostEnv: dev
        branch: dev
        clusterName: dev
        ingressClass: traefik
      - env: dev-kind
        hostEnv: dev-kind
        branch: dev-kind
        clusterName: dev-kind
        ingressClass: traefik
      - env: prod
        hostEnv: prod
        branch: prod
        clusterName: prod
        ingressClass: traefik
      - env: prod-kind
        hostEnv: prod-kind
        branch: prod-kind
        clusterName: prod-kind
        ingressClass: traefik
      - env: test
        hostEnv: test
        branch: test
        clusterName: test
        ingressClass: traefik
      - env: test-con1
        hostEnv: test-con1
        branch: test-con1
        clusterName: test-con1
        ingressClass: traefik
      - env: test-con2
        hostEnv: test-con2
        branch: test-con2
        clusterName: test-con2
        ingressClass: traefik
      - env: test1
        hostEnv: test1
        branch: test1
        clusterName: test1
        ingressClass: traefik
      - env: test3
        hostEnv: test3
        branch: test3
        clusterName: test3
        ingressClass: traefik
      - env: test4
        hostEnv: test4
        branch: test4
        clusterName: test4
        ingressClass: traefik
      - env: uat
        hostEnv: uat
        branch: uat
        clusterName: uat
        ingressClass: traefik
      - env: uat-kind
        hostEnv: uat-kind
        branch: uat-kind
        clusterName: uat-kind
        ingressClass: traefik
  template:
    metadata:
      name: 'whoami-{{.env}}'
      labels:
        app: whoami
        env: '{{.env}}'
    spec:
      project: default
      source:
        repoURL: 'http://192.168.51.30:6080/fc005/devops.git'
        path: deploy
        # 每个集群对应一个同名的 Git 分支
        targetRevision: '{{.branch}}'
        helm:
          releaseName: whoami
          parameters:
          # 动态设置 Ingress host
          - name: ingress.host
            value: 'whoami.{{.hostEnv}}.192.168.51.30.sslip.io'
          # 统一使用 traefik Ingress Controller
          - name: ingress.className
            value: '{{.ingressClass}}'
          # 使用固定 tag，避免 :latest 触发 Always 拉取
          - name: image.tag
            value: 'v1.10.2'
          - name: image.pullPolicy
            value: 'IfNotPresent'
      destination:
        # 部署到对应的集群
        name: '{{.clusterName}}'
        namespace: whoami
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
