apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: whoami
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - list:
      elements:
      # 自动从 environments.csv 生成（通过 scripts/sync_applicationset.sh）
      - env: dev
        hostEnv: kind.dev
        branch: dev
        clusterName: dev
      - env: uat
        hostEnv: kind.uat
        branch: uat
        clusterName: uat
      - env: prod
        hostEnv: kind.prod
        branch: prod
        clusterName: prod
      - env: dev-k3d
        hostEnv: k3d.dev
        branch: dev-k3d
        clusterName: dev-k3d
      - env: uat-k3d
        hostEnv: k3d.uat
        branch: uat-k3d
        clusterName: uat-k3d
      - env: prod-k3d
        hostEnv: k3d.prod
        branch: prod-k3d
        clusterName: prod-k3d
      - env: debug-k3d
        hostEnv: k3d.debug
        branch: debug-k3d
        clusterName: debug-k3d
      - env: test-final
        hostEnv: k3d.test-final
        branch: test-final
        clusterName: test-final
      - env: test-k3d-fixed
        hostEnv: k3d.test-k3d-fixed
        branch: test-k3d-fixed
        clusterName: test-k3d-fixed
      - env: rttr-dev
        hostEnv: k3d.rttr-dev
        branch: rttr-dev
        clusterName: rttr-dev
      - env: rttr-uat
        hostEnv: k3d.rttr-uat
        branch: rttr-uat
        clusterName: rttr-uat
  template:
    metadata:
      name: 'whoami-{{.env}}'
      labels:
        app: whoami
        env: '{{.env}}'
    spec:
      project: default
      source:
        repoURL: 'http://git.devops.192.168.51.30.sslip.io/fc005/devops.git'
        path: deploy
        targetRevision: '{{.branch}}'
        helm:
          releaseName: whoami
          parameters:
          # 动态设置 Ingress host
          - name: ingress.host
            value: 'whoami.{{.hostEnv}}.192.168.51.30.sslip.io'
          # 使用固定 tag，避免 :latest 触发 Always 拉取
          - name: image.tag
            value: 'v1.10.2'
          - name: image.pullPolicy
            value: 'Never'
      destination:
        # 部署到对应的集群
        name: '{{.clusterName}}'
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
