{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: traefik
  ports:
    - name: web
      protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: {{ .Values.nodePort }}
{{- end }}

