{{- if .Values.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: portainer-edge-agent
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: portainer-edge-agent
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: s-portainer-agent-headless
  namespace: {{ .Values.namespace }}
spec:
  clusterIP: None
  selector:
    app: portainer-edge-agent
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
{{- end }}

